<div>
    <form ng-submit="addPeople()">
        <div>
            <label>First Name</label>
            <input type="text" ng-model="people.firstName" />
        </div>
        <div>
            <label>Second Name</label>
            <input type="text" ng-model="people.lastName" />
        </div>
        <div>
            <label>Age</label>
            <input type="number" oninput="maxLengthCheck(this)" maxlength="3" min="0" max="150" ng-model="people.age" />
        </div>
        <input type="submit" value="Add Person" />
    </form>
</div>

<script>

    function maxLengthCheck(object) {
        if (object.value.length > 3)
            object.value = object.value.slice(0, 3)
    }
</script>